$cBlack: #333;
$cVase: rgb(115, 157, 221);
.fz-l {
  font-size: 30px;
}
.fz-m {
  font-size: 24px;
}
.fz-s {
  font-size: 16px;
}
.fz-xs {
  font-size: 13px;
}
.white {
  color: #fff;
}
body {
  letter-spacing: 1px;
}
h1, p, dl, figure, ul {
  margin: 0;
}
.header-link {
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  &:hover {
    color: #fff;
  }
}
a {
  &:hover {
    text-decoration: none !important;
    opacity: 0.7;
  }
}
.center-width {
  max-width: 1070px;
  margin: 0 auto;
  width: 80%;
}
ul {
  padding: 0;
}
.error {
  color: red;
}
.cB {
  color: $cBlack;
}
.middle {
  font-size: 20px;
}
.section-title {
  text-align: center;
  color: $cBlack;
  font-size: 35px;
}
.link {
  display: inline-block;
  color: #fff;
  background-color: $cVase;
  margin: 5px 0;
  margin-right: 8px;
  padding: 5px 10px;
  box-sizing: border-box;
  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}
.member-item {
  position: relative;
  .del {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
}
.btn {
  color: $cBlack;
  background-color: rgb(228, 226, 226);
  border: 1px solid $cBlack;
  margin: 10px 0;
}

.member-link {
  display: flex;
  justify-content: center;
  li {
    list-style: none;
  }
} 
.members {
  max-width: 1170px;
  margin: 0 auto;
}
.home-container {
  background-image: url('/public/img/tennisball.jpg');
  background-position: center;
  background-size: cover;
  height: 100vw;
}
.home {
  text-align: center;
  color: #e0bb6c;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 60px;
    margin-bottom: 15px;
  }
  a {
    margin-right: 20px;
  }
}
.section-head {
  display: flex;
  max-width: 1070px;
  margin: 20px auto;
  position: relative;
  h1 {
    line-height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .add {
    font-size: 50px;
    display: block;
    margin-right: 0;
    margin-left: auto;
  }
}
textarea, input {
  width: 50%;
}
textarea {
  height: 100px;
}
.navbar {
  background-color: $cBlack;
}
.header-ul {
  display: flex;
  li {
    list-style: none;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.navbar-collapse {
  flex-grow: 0;
}
.create-container {
  margin-top: 30px;
}
.post-item {
  background-color: #fff;
  margin: 20px auto;
  border: 2px solid $cVase;
  padding: 20px 20px;
  .post-body {
    margin: 20px 0;
  }
}

.profile-item {
  display: flex;
  & > figure {
    width: 40%;
  }
  & > dl {
    width: 60%;
  }
}