$cBlack: #333;

h1, p {
  margin: 0;
}
.error {
  color: red;
}
.cB {
  color: $cBlack;
}
.middle {
  font-size: 20px;
}
.section-title {
  text-align: center;
  color: #000;

}
.link {
  color: $cBlack;
  font-size: 35px;
  border: 1px solid $cBlack;
  padding: 10px 15px;
  &:hover {
    color: rgb(175, 172, 172);
    text-decoration: none;
  }
}
.members {
  max-width: 1170px;
  margin: 0 auto;
}
.home-container {
  background-image: url('/public/img/tennisball.jpg');
  background-position: center;
  background-size: cover;
  height: 100vw;
}
.home {
  text-align: center;
  color: #e0bb6c;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 60px;
    margin-bottom: 15px;
  }
  a {
    margin-right: 20px;
  }
}
.post-head {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  h1 {
    line-height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .add-post {
    font-size: 50px;
    display: block;
    margin-right: 0;
    margin-left: auto;
  }
}
textarea {
  
  width: 70%;
}
ul {
  display: flex;
  li {
    list-style: none;
    margin-right: 15px;
  }
}

.post {
  max-width: 1170px;
  width: 80%;
  margin: 0 auto;
  .post-item {
    background-color: #fff;
    margin: 20px auto;
    border: 2px solid rgb(189, 224, 182);
    padding: 10px 20px;
    .post-body {
      margin: 20px 0;
    }
  }
}
.content-item {
  border: 3px solid #333
}